--
-- PostgreSQL database dump
--

\restrict DCwByOye0xZ656pjTpTbWeMiFN8whO3xziaqDsQjLuYb9tcYAEPNukaMby4yjbo

-- Dumped from database version 14.20 (Debian 14.20-1.pgdg13+1)
-- Dumped by pg_dump version 14.20 (Debian 14.20-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: biome_entity; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.biome_entity (
    id character varying NOT NULL,
    special jsonb,
    dlc character varying,
    "fertileSoil" character varying,
    trees text[] DEFAULT '{}'::text[] NOT NULL,
    nodes text[] DEFAULT '{}'::text[] NOT NULL,
    effects text[] DEFAULT '{}'::text[] NOT NULL
);


ALTER TABLE public.biome_entity OWNER TO root;

--
-- Name: building_entity; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.building_entity (
    id character varying NOT NULL,
    "buildingType" character varying,
    workers integer,
    storage integer,
    "buildingIngredients" jsonb,
    "cityScore" integer,
    "buildTime" integer,
    "buildingSize" character varying,
    logic jsonb,
    moveable boolean NOT NULL,
    "allIngredients" text[] NOT NULL,
    "allProducts" text[] NOT NULL,
    special jsonb,
    proficiency text[] NOT NULL,
    comfort text[] NOT NULL,
    rainpunk character varying
);


ALTER TABLE public.building_entity OWNER TO root;

--
-- Name: node_entity; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.node_entity (
    id character varying NOT NULL,
    size character varying,
    charges integer NOT NULL,
    "primary" character varying NOT NULL,
    camp text[] DEFAULT '{}'::text[] NOT NULL,
    biome text[] NOT NULL,
    bonus jsonb,
    special jsonb,
    "allResources" text[] DEFAULT '{}'::text[] NOT NULL
);


ALTER TABLE public.node_entity OWNER TO root;

--
-- Name: resource_entity; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.resource_entity (
    id character varying NOT NULL,
    type character varying,
    price jsonb,
    "speciesPreference" text[] DEFAULT '{}'::text[] NOT NULL,
    "productionBuildings" jsonb,
    special jsonb
);


ALTER TABLE public.resource_entity OWNER TO root;

--
-- Data for Name: biome_entity; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: building_entity; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: node_entity; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: resource_entity; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Name: biome_entity PK_2dc82ad7075d34ef28954aee143; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.biome_entity
    ADD CONSTRAINT "PK_2dc82ad7075d34ef28954aee143" PRIMARY KEY (id);


--
-- Name: resource_entity PK_3e35c5dd9869383ccf1a2acea4b; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.resource_entity
    ADD CONSTRAINT "PK_3e35c5dd9869383ccf1a2acea4b" PRIMARY KEY (id);


--
-- Name: node_entity PK_8f5e75ca1d9eed7bab422f1f547; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.node_entity
    ADD CONSTRAINT "PK_8f5e75ca1d9eed7bab422f1f547" PRIMARY KEY (id);


--
-- Name: building_entity PK_b39acf71607c6efb539b89ba2d1; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.building_entity
    ADD CONSTRAINT "PK_b39acf71607c6efb539b89ba2d1" PRIMARY KEY (id);


--
-- Name: IDX_2dc82ad7075d34ef28954aee14; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "IDX_2dc82ad7075d34ef28954aee14" ON public.biome_entity USING btree (id);


--
-- Name: IDX_3e35c5dd9869383ccf1a2acea4; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "IDX_3e35c5dd9869383ccf1a2acea4" ON public.resource_entity USING btree (id);


--
-- Name: IDX_8f5e75ca1d9eed7bab422f1f54; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "IDX_8f5e75ca1d9eed7bab422f1f54" ON public.node_entity USING btree (id);


--
-- Name: IDX_b39acf71607c6efb539b89ba2d; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX "IDX_b39acf71607c6efb539b89ba2d" ON public.building_entity USING btree (id);


--
-- PostgreSQL database dump complete
--

\unrestrict DCwByOye0xZ656pjTpTbWeMiFN8whO3xziaqDsQjLuYb9tcYAEPNukaMby4yjbo

